{
  "branches": [
    "+([0-9]).+([0-9]).+([0-9])",
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "successCmd": "test -z \"${nextRelease.version}\""
    }]
  ]
}
