{
  "branches": [
    "+([0-9]).+([0-9]).+([0-9])",
    "main"
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits",
      "presetConfig": {
        "issuePrefixes": ["AMA-"],
        "issueUrlFormat": "https://amatechs.atlassian.net/browse/{{prefix}}{{id}}"
      },
    }],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    ["@semantic-release/github", {
      "assets": [
        { "path": "build.zip", "label": "Build (zip)" }
      ]
    }],
    ["@semantic-release/exec", {
      "successCmd": "echo \${ nextRelease.version } > version.txt"
    }]
  ]
}
