name: Deploy to production

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://test-vercel-production.vercel.app

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: v1.12.0

      - name: Unpack build archive
        run: tar -xf test-vercel-*.tgz

      - name: Deploy project artifacts to Vercel
        run: vercel --prod ./package --token=${{ secrets.VERCEL_TOKEN }}
