name: 'Create Release'

on:
  workflow_dispatch:

jobs:
  release:
    name: 'Create GitHub Release'
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: 'Setup Node.js v18'
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: 'Install Vercel CLI'
      run: npm install --global vercel@latest

    - name: 'Pull Vercel Environment Information'
      run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

    - name: 'Build project assets'
      run: |
        vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
        zip build.zip .vercel -r

    - name: 'Generate semantic-release config'
      run: |
        cat <<EOF | tee .releaserc
          {
            "branches": [
              "main"
            ],
            "plugins": [
              "@semantic-release/commit-analyzer",
              "@semantic-release/release-notes-generator",
              "@semantic-release/changelog",
              [
                "@semantic-release/npm",
                {
                  "npmPublish": false
                }
              ],
              "@semantic-release/git",
              [
                "@semantic-release/github",
                {
                  "assets": "build.zip"
                }
              ]
            ]
          }    
        EOF

    - name: 'Setup semantic-release'
      run: npm install -g semantic-release @semantic-release/git @semantic-release/changelog -D

    - name: 'Release'
      run: npx semantic-release

